#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

install
# Use CDROM installation media
url --url="http://192.168.1.200/CentOS7"
# Use graphical install
text

# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8

# Network information
network  --onboot=yes --bootproto=dhcp --device=eth0  --ipv6=auto --activate
network  --hostname=localhost.localdomain

# disable firewalld
firewall --disabled

# disable selinux
selinux --disabled

# shutdown after installation
halt

# Root password
rootpw --iscrypted $6$wauGo7uQ2pygUvXA$eOZhvrKAn.ye77zjuf6rLL6vy9vTjTp4Gm5wnD38eTBnnDv3s2//hJaFwBgf2WxKzxhdPi4NCS2HuQ7aZGo.m.

# System services
services --enable="chronyd"

# System timezone
timezone Asia/Shanghai --isUtc --ntpservers=192.168.1.253
user --groups=wheel --name=lance --password=$6$CwUAEFph9CMe46Zb$3m9r06DRndr9iWHvWIlXT9if47apAGdL0ZYHU2bGJkMrprxD3Jt6H44BtzpA6BghN/USvLIEXskAF0GBtg4P9/ --iscrypted --gecos="Lance Zhao"

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# disk partation
part /boot --fstype="ext4" --asprimary --size=300
part swap --fstype="swap" --size=2048
part / --fstype="ext4" --asprimary --grow --size=300

# Partition clearing information
clearpart --all --initlabel

%packages
@^minimal
@core

%end

%post
yum install -y epel-release vim mlocate wget git tree sysstat net-tools

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
